---
layout: layouts/base.njk
title: PRODUCTION ENV
---

<h1>{{ title }}</h1>
<p>Well, here we are! This page was made by a build process so it is pre-generated and ready to serve from a CDN.THIS IS now V2</p>
<ul>
  <li>This site is built from my main branch</li>
  <li>This site can be accessed from https://product-demo-netlify.netlify.app/</li>
  <li>It uses Netlify workflows to build and deploy the site</li>
</ul>



