---
layout: layouts/base.njk
title: DEV ENV
---

<h1>{{ title }}</h1>

<p> This deploy is built from the Dev branch and will be used for testing before merging into Staging</p>


Click <a href ="https://github.com/bhavana-netlify/product-demo/tree/testing-functions">
<section>
  <h2>We also have serverless functions!</h2>
  <ul>
    <li><a href="/.netlify/functions/hello?name=friends">/.netlify/functions/hello?name=friends</a></li>
    <li><a href="/api/hello/you!">/api/hello/you!</a></li>
  </ul>
</section>

