---
layout: layouts/base.njk
title: Functions Home page
---

<h1>{{ title }}</h1>
<p>Well, here we are! This page was made by a build process so it is pre-generated and ready to serve from a CDN.THIS IS now V2</p>


<section>
  <h2>We also have serverless functions!</h2>
  <ul>
    <li><a href="/.netlify/functions/hello?name=friends">/.netlify/functions/hello?name=friends</a></li>
    <li><a href="/api/hello/you!">/api/hello/you!</a></li>
    <li><a href="/.netlify/functions/jokes">Jokes API that we just added</a></li>
  </ul>
</section>

